body {
    /* background-color: rgb(49, 48, 48);
     */
     background-color: rgb(240, 240, 240);
}

nav{
    background-color:rgb(207, 207, 207);
    display: flex;
    justify-content: center !important;
   
}
.expired {
    color:red;

}
.active {
    color:green;
  
}
.finished {
    background-color: rgba(170, 170, 170, 0.788);
}
.btn-finish-task {
    width: 100%;
}
.btn-disabled {
    cursor: not-allowed;
    transition: none;
    color:gray !important;
}
.btn-disabled:hover {
    color: rgb(44, 44, 44) !important;
}
.nav-link {
    color:green;
    margin-left:20px;
    font-size: 1.1em;
    letter-spacing: .02em;
    transition: all ease .3s;
}
.nav-link:hover {
    color:rgb(0, 0, 0);
}
.logo {
    max-width: 240px;
}

#form-item-new {
    background-color: rgb(189, 189, 189);
    box-shadow: 0px 0px 0px 2px rgba(94, 94, 94, 0.178);
    width: 360px;
    max-width: 100%;
    padding:30px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap:10px;
}

#container-item-list {
    background-color: rgb(231, 231, 231);
    box-shadow: 0px 0px 0px 2px rgba(94, 94, 94, 0.178);
    width: 100%;
    border-radius: 5px;
    display: flex;
    flex-direction: column;

}
.item-list {
    padding:20px;
    display: flex;
    flex-wrap: wrap;
    direction: row;
    text-align: center;
    gap:10px;

}

@media (min-width: 768px) {

    .item-list {
        padding:20px;
        display: grid;
        grid-template-columns: 1fr 3fr 3fr 3fr 2fr;
        text-align: center;
        gap:10px;
        align-items: center;
    
    }

}